body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 105%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background: #0077cc;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.authentication-buttons {
  margin-left: auto;
  display: flex;
}

/* grid layout */
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto auto;

  grid-template-areas:
    "notes calendar"
    "notes calendar"
    "notes weather";

  gap: 1rem;
  padding: 1rem;
  background: #f4f4f4;
  min-height: 0;
}

.widget {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/*Medium size*/
/*Uudet kuvat*/
/* @media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
      "notes calendar"
      "notes weather";
  }
} */
/*Small size*/
@media only screen and (max-width: 1000px) {
  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .calendar-weather-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    height: calc(100vh - 64px - 48px);
  }

  .mobile-calendar,
  .mobile-weather {
    padding: 0.5rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: visible;
  }
}