.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note {
  padding: 10px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  position: relative;
}

.note-title {
  margin: 0;
  font-weight: bold;
  width: 80%;
}

.note-text {
    margin: 2em;
    width: 80%;
}

.delete-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}