.weather-widget {
  display: flex;
  flex-direction: column;
  grid-area: weather;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: white;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.weather-now {
  display: grid;
  place-items: center;
  flex: 1;
  font-size: 500%;
  margin: 1rem;
  padding: 0;
  flex-shrink: 0;
}

.weather-clear {
  background-image: linear-gradient(to bottom right, rgb(98, 158, 200), rgb(72, 138, 232));
}

.weather-cloudy {
  background-image: linear-gradient(to bottom right, #869ccf, #8b9bad);
}

.weather-forecast {
  padding: 0;
  margin-top: 2rem;
}

.weather-forecast > * {
  margin: 1rem;
  font-size: 200%;
  padding: 0;
}

.weather-forecast li {
  margin: 0.6rem;
}

.weather-search {
  padding: 1rem;
  margin-bottom: 0;
}
.form .weather-search {
  margin: 0;
}

.textfield .MuiOutlinedInput-root {
  color: white;
}

.textfield .MuiInputLabel-root {
  color: white; 
}

.textfield .MuiInputLabel-root.Mui-focused {
  color: white;
}

.textfield .MuiOutlinedInput-root fieldset {
  border-color: white;
}

.textfield .MuiOutlinedInput-root:hover fieldset {
  border-color: white;
}

.textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: white;
}

.textfield .MuiInputBase-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.weather-search .MuiFormControl-root {
  margin: 0;
}

.weather-container {
  display: flex;
  flex: 1;
  min-height: 0;
  margin: 0;
  padding: 0;
  gap: 0;
}

@media only screen and (max-width: 1600px) {

  .weather-forecast {
    margin: 0;
    margin-top: 0;
    font-size: 40%;
    margin-left: 0.5rem;
  }

  .weather-forecast li {
    margin: 0;
  }

  .weather-now {
  font-size: 250%;
  margin: 1.1rem;
  padding: 0;
  }

  .weather-search {
    padding: 0.7rem;
    margin-bottom: -1rem;
  }


}

@media only screen and (max-width: 1200px) {

  .weather-widget {
    height: 100%;
  }

  .weather-forecast > * {
    margin-top: 4rem;
    font-size: 0.9rem;
  }

  .weather-now {
    font-size: 300%;
    margin-top: 3.5rem;
    padding: 0;
  }


}