.weather-widget {
  display: flex;
  flex-direction: column;
  grid-area: weather;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 0;
  /* height: 100%; */
  overflow: hidden;
}

.weather-now {
  display: grid;
  place-items: center;
  flex: 1;
  font-size: 300%;
  margin: 0;
  padding: 0;
}

.weather-clear {
  background-image: linear-gradient(to bottom right, rgb(98, 158, 200), rgb(72, 138, 232));
}

.weather-cloudy {
  background-image: linear-gradient(to bottom right, #869ccf, #8b9bad);
}

.weather-forecast {
  padding: 0.1rem;
  margin-top: 0;
}

.weather-forecast > * {
  margin: 0;
  font-size: 0.7rem;
}

.weather-search {
  padding: 0.8rem;
  margin-bottom: 0;
}

.textfield .MuiOutlinedInput-root {
  color: white;
}

.textfield .MuiInputLabel-root {
  color: white; 
}

.textfield .MuiInputLabel-root.Mui-focused {
  color: white;
}

.textfield .MuiOutlinedInput-root fieldset {
  border-color: white;
}

.textfield .MuiOutlinedInput-root:hover fieldset {
  border-color: white;
}

.textfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: white;
}

.textfield .MuiInputBase-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.weather-search .MuiFormControl-root {
  margin: 0;
}

.weather-container {
  margin: 0.5rem;
  min-height: 0;
  /* height: 100%; */
  padding: 0;
}

@media only screen and (max-width: 1200px) {

  .weather-widget {
    height: 100%;
  }

  .weather-forecast > * {
  margin: 1rem;
  font-size: 0.9rem;
  }

  .weather-now {
  font-size: 400%;
  margin: 0;
  padding: 0;
  }


}